.contenedor-grid {
	width: 90%;
	max-width: 1150px;
    margin: 20px auto;
	display: grid;
	grid-gap: 35px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, auto);
	grid-template-areas: "sidebar contenido contenido contenido"
                         "sidebar contenido contenido contenido"
                         "footer footer footer footer";
    
    .contenido {
        grid-area: contenido;
        background: #f5f5f5;
        border: rgb(207, 207, 207) 1px solid;
    }

    .sidebar {
        background: #f5f5f5;
        border: rgb(207, 207, 207) 1px solid;
        min-height: 100px;
        grid-area: sidebar;
    }
    .footer {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        grid-area: footer;
        border-bottom: rgb(167, 166, 166) 1px solid;
    }
}
.contenedor-grid-abm {
    grid-template-areas: "contenido contenido contenido contenido"
                         "contenido contenido contenido contenido"
                         "footer footer footer footer";
}
.contenedor-grid > div,
.contenedor-grid .contenido,
.contenedor-grid .sidebar,
.contenedor-grid .footer{ 
	padding: 20px;
	border-radius: 4px;
}

@media screen and (max-width: 768px){
	.contenedor-grid {
		grid-template-areas: "sidebar sidebar sidebar sidebar"
                             "contenido contenido contenido contenido"
                             "footer footer footer footer";
    }
}
