* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: sans-serif;
}

.registro {
    width: 500px;
    max-width: 75%;
    margin: auto;
    margin-left:auto;
    margin-right:auto;
    padding: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 3);
    border-radius: .5em;
    box-sizing:border-box;
}

.titulo {
    text-align: center;
    margin-top: 0;
    padding-bottom: 3px;
}

.titulo span {
    color: #0088cc;
}

.input #btn{
    display: block;
    width: 100%;
    font-size: 1em;
    
}

.input{
    padding: 20px;
    background: none;
    border: none;
    border-bottom: solid .5px #0088cc;
    margin-bottom: 40px;   
}

#btn{
    background: #0088cc;
    color: #ffffff;
    border-radius: .5em;
    padding: 10px 10px;
    cursor: pointer;
    border: none;
}

#btn:hover{
    border-radius: .10em; 
}

