
#container{
    margin: auto;
  
    text-align:center;
    width: 30%;
    height: 140px;
    background-color: rgb(246, 249, 250);
    border-style: groove;
   
}

img {
    
    width: 10%;
    height: auto;

  }

 