

body{
  background-color: whitesmoke;
}

#listaDeAulas{
  background-color: darkgray;
  font-size: 25px;
  position: fixed;
  top: 40px;
}

#crearAulas{
  background-color: darkgray;
  position: fixed;
  top: 40px;
}




