*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0 1.5em;
    font-family: sans-serif;
    background-image: linear-gradient(to right, #32aa8e, #ffffff );

}

.header {
    width: 100%;
    background: #f7f7f7;
    border-radius: .5em;
    justify-content: center;
    align-items: center;
}

.principal {
    padding: 5%;
    
}

.aside {
    color: #fff;
    
  }

.section {
    border: none;
    background: white;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    border-top-right-radius: 10% 50%;
    border-bottom-right-radius: 10% 50%;
    padding: 50px;  
}

.footer {
    width: 100%;
    background: #686868;
    border: solid rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    
}

