$themes: (
    light:(
        backgroundColor: #000,
        textColor: #fff,
        backgroundLogoColor: -webkit-linear-gradient(top, #fff, rgb(218, 219, 221)),
        backgroundHeaderColor: rgba(219, 219, 219, 0.795),
        borderHeader: rgb(189, 189, 189) 1px ridge,
        backgroundDivHeader: -webkit-linear-gradient(top, #fff, rgb(218, 219, 221)),
        borderHeaderButtom: 2px solid #bbb,
        textColorHeaderButtom: rgb(70, 70, 70),
        textColorHeaderButtomHover: rgb(161, 159, 159),
        backgroundContenedorGrid: #f5f5f5,
        borderContenedorGrid: rgb(207, 207, 207) 1px solid,
        borderButtomFooter: rgb(167, 166, 166) 1px solid,
        textTitle: #08c,
        borderTitle: #eee 1px solid,
        borderTable: rgb(207, 207, 207) 1px solid,
        backgroundThead: -webkit-linear-gradient(top, #08c, rgb(109, 186, 224)),
        textThead: #fff,
        backgroundTbody: -webkit-linear-gradient(top, #fff, rgb(218, 219, 221)),
        backgroundNavBar: -webkit-linear-gradient(top, #08c, rgb(109, 186, 224)),
        borderNavBar: rgb(26, 99, 99) 1px solid,
        hoverNavBar: -webkit-linear-gradient(top, rgb(109, 186, 224), #08c),
        subtitleColor: rgb(167, 166, 166),
        subtitleBorder: rgb(167, 166, 166) 1px solid,
        subtitleEditColor: #08c,
        inputBorder: rgb(207, 207, 207) 1px solid,
        backgroundButtom: -webkit-linear-gradient(top, #08c, rgb(109, 186, 224)),
        borderButtom: rgb(26, 99, 99) 1px solid,
        hoverButtom: -webkit-linear-gradient(top, rgb(109, 186, 224), #08c),
        borderTextResponsive: rgb(26, 99, 99) 2px solid,
        backgroundTextResponsive: -webkit-linear-gradient(top, #08c, rgb(109, 186, 224)),
        borderTarget: #58b1d1 1px solid,
        borderSelect: 2px solid #08c,
        backgroundSelect: #08c,
        materiaColor: #58b1d1,
        materiaHover: #08c
    ), 
    dark: (
        backgroundColor: #222,
        textColor: #ddd,
        backgroundLogoColor: -webkit-linear-gradient(top, rgb(39, 39, 39), rgb(55, 106, 207)),
        backgroundHeaderColor: rgba(219, 219, 219, 0.795),
        borderHeader: rgb(189, 189, 189) 1px ridge,
        backgroundDivHeader: -webkit-linear-gradient(top, #fff, rgb(218, 219, 221)),
        borderHeaderButtom: 2px solid #bbb,
        textColorHeaderButtom: rgb(70, 70, 70),
        textColorHeaderButtomHover: rgb(161, 159, 159),
        backgroundContenedorGrid: #f5f5f5,
        borderContenedorGrid: rgb(207, 207, 207) 1px solid,
        borderButtomFooter: rgb(167, 166, 166) 1px solid,
        textTitle: #08c,
        borderTitle: #eee 1px solid,
        borderTable: rgb(207, 207, 207) 1px solid,
        backgroundThead: -webkit-linear-gradient(top, #08c, rgb(109, 186, 224)),
        textThead: #fff,
        backgroundTbody: -webkit-linear-gradient(top, #fff, rgb(218, 219, 221)),
        backgroundNavBar: -webkit-linear-gradient(top, #08c, rgb(109, 186, 224)),
        borderNavBar: rgb(26, 99, 99) 1px solid,
        hoverNavBar: -webkit-linear-gradient(top, rgb(109, 186, 224), #08c),
        subtitleColor: rgb(167, 166, 166),
        subtitleBorder: rgb(167, 166, 166) 1px solid,
        subtitleEditColor: #08c,
        inputBorder: rgb(207, 207, 207) 1px solid,
        backgroundButtom: -webkit-linear-gradient(top, #08c, rgb(109, 186, 224)),
        borderButtom: rgb(26, 99, 99) 1px solid,
        hoverButtom: -webkit-linear-gradient(top, rgb(109, 186, 224), #08c),
        borderTextResponsive: rgb(26, 99, 99) 2px solid,
        backgroundTextResponsive: -webkit-linear-gradient(top, #08c, rgb(109, 186, 224)),
        borderTarget: #58b1d1 1px solid,
        borderSelect: 2px solid #08c,
        backgroundSelect: #08c,
        materiaColor: #58b1d1,
        materiaHover: #08c
    ),
);

@mixin themify($themes) {
    @each $theme, $map in $themes {
      .theme-#{$theme} & {
        $theme-map: () !global;
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), '#{$key}');
          $theme-map: map-merge($theme-map, ($key: $value)) !global;
        }
        @content;
        $theme-map: null !global;
        }
    }
}
  
@function themed($key) {
    @return map-get($theme-map, $key);
}