@import "./StyleSheets/Base/base.scss";
@import "./StyleSheets/Base/Component/logo.scss";
@import "./StyleSheets/Base/Component/header.scss";
@import "./StyleSheets/Base/Component/titulo.scss";
@import "./StyleSheets/Base/Component/contenedor-abm.scss";
@import "./StyleSheets/Base/Component/estilos.scss";
@import "./StyleSheets/Base/Component/tabla.scss";
@import "./StyleSheets/Base/Component/nav-bar.scss";
@import "./StyleSheets/Base/Component/contenedor-sugerencias.scss";
@import "./StyleSheets/Base/Component/Selects.scss";
@import "./StyleSheets/Base/Component/Lista-materias.scss";
@import "./StyleSheets/Base/Component/Targeta-materia.scss";
@import "./StyleSheets/Base/Component/cursada.scss";

@import "./Themes/light.scss";
@import "./Themes/dark.scss";

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}