* {
  margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
  background: #fff;
  color: #000;
}/*se asigna el color de la pagina y el de las letras, asi como su fuente*/
/*---------------------------------------------------------------------------------------*/
.contenedor-logo {
    background-image: -webkit-linear-gradient(top, #fff, rgb(218, 219, 221));
    margin: 0px;
}/*se muestra sin margenes y con un degradado, su funcion principal es contener el logo*/
.row-fluid{
    width: 90%;
    margin: 0px auto;
  max-width: 1150px;
}/*la funcion principal de esta clase es hacer que el logo que de centrado con respecto al contenedor-grid*/
.logo-Unahur{
    margin: 15px auto;
    height: 53.1;
    max-width: 90%;
    vertical-align: middle;
    border: 0;
}/*la funcion principal de esta clase, es alinear, ajustar el tamaño y darle un margen a la imagen*/
/*---------------------------------------------------------------------------------------*/
.contenedor-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: rgba(219, 219, 219, 0.795);
    margin: 0px;
    max-height: 100px;
    border: rgb(189, 189, 189) 1px ridge;
    grid-template-areas: "header header header"
}/*se asigna el color de fondo, el borde, el tamaño maximo, el margen y un template de las areas que debe ocupar la clase header*/

.contenedor-header > div,
.contenedor-header .header{
    background-image: -webkit-linear-gradient(top, #fff, rgb(218, 219, 221));    
}/*aca se asigna el color de fondo del header*/

.contenedor-header .header {
    grid-area: header;
}/*se le asigna el nombre del area que debe ocupar*/
.btn-success{
  cursor:pointer;
  color: #fff;
  align-items: flex-start;
  background-color: rgb(73, 175, 205);
  background-image: linear-gradient(rgb(91, 192, 222), rgb(47, 150, 180));
  background-repeat: repeat-x;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0px -1px 0px;
  vertical-align: middle;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgba(0, 0, 0, 0.1);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgba(0, 0, 0, 0.1);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgba(0, 0, 0, 0.1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 1px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 5px;
  margin-top: 0px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  width: 88px;
}


.contenedor-header-buttoms{
    width: 90%;
  max-width: 1150px;
    margin: 0px auto;
    max-height: 100px;
}/*este contenedor es mas para centrar los botones y que queden a la altura del contenedor-grid*/

.header-buttom {
    list-style-type: none;
}/*esto es para que no se muestre como lista*/

.header-center-buttom {
    float: left;
    border-right: 2px solid #bbb;
    padding: 13px;
}/*con float, el bloque flota a la izquierda del contenedor, se define el margen y el borde,
para que quede bien parecido a un boton*/
  
.header-center-buttom a {
    color: rgb(70, 70, 70);
    text-align: center;
    padding: 13px;
    text-decoration: none;
}/*aca se le da un color al texto, se le da un margen y se lo alinea al centro*/

.header-center-buttom a:hover {
    color: rgb(161, 159, 159);
}/*cuando se posiciona el mouse arriba del elemento el color de la letra cambia*/
/*---------------------------------------------------------------------------------------*/
/*Titulo*/
.contenedor-titulo {
    width: 90%;
  max-width: 1150px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-height: 100px;
    grid-template-areas: "titulo titulo titulo"
}/*se le da el tamaño maximo parra coincidir con el contenedor-grid y se le asigna el area.*/
.titulo {
    color: #08c;
    font-size: 24px;
    font-family: inherit;
    font-weight: bold;
    border-bottom: #eee 1px solid;
}/*se asigna tamaño, bordes, color y subrayado*/
.contenedor-titulo > div,
.contenedor-titulo .titulo{
    background: #fff;
}/*asigna el color de fondo*/
.contenedor-titulo .titulo {
  color: #08c;
    grid-area: titulo;
    /*se le asigna color, area y tipo de letra con la que debe mostrarse*/
}/*estas clases se crearon para ajustar el titulo encima del contenedor-grid, es pura estetica.*/
/*---------------------------------------------------------------------------------------*/
/*Cuerpo del html*/
.contenedor-grid {
  width: 90%;
  max-width: 1150px;/*le asigno el tamaño maximo*/
    margin: 20px auto;
  display: grid;
  grid-gap: 35px;/*aca defino los espacios entre las areas de las clases*/
  grid-template-columns: repeat(4, 1fr);/*le asigno el numero de columnas y le pido que ocupen toda la pantalla*/
  grid-template-rows: repeat(4, auto);/*le asigno el numero de filas y le digo que sea automatico, osea que se ajuste al contenido.*/
  grid-template-areas: "sidebar contenido contenido contenido"
                         "sidebar contenido contenido contenido"
                         "footer footer footer footer";/*aca hago un template, y defino las columnas y filas que deben ocupar las clases*/
}
.contenedor-grid-abm {
    grid-template-areas: "contenido contenido contenido contenido"
                         "contenido contenido contenido contenido"
                         "footer footer footer footer";
}/*Nota: esto originalmente lo iba a usar en materia-abm.html, pero determine que el sidebar servia y lo deje, como lo quite en
materia-create.html, deje implementada esta clase y la reutilize ahi, ya que el sidebar no cumplia ninguna funcion ahi. */
.contenedor-grid > div,
.contenedor-grid .contenido,
.contenedor-grid .sidebar,
.contenedor-grid .footer{ 
  background: #fff;
  padding: 20px;
  border-radius: 4px;
}/*aca defino el espacio adentro de los divs de las clases*/
.contenedor-grid .contenido {
    grid-area: contenido;/*esto es importante, por que le estoy asignando a la clase un area, la cual invoco en el template area del contenedor-grid*/
    background: #f5f5f5;
    border: rgb(207, 207, 207) 1px solid;
}

.contenedor-grid .sidebar {
    background: #f5f5f5;
    border: rgb(207, 207, 207) 1px solid;
  min-height: 100px;
  grid-area: sidebar;/*le asigno el nombre el area que debe ocupar*/
}
.contenedor-grid .footer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;/*con esas 2 lineas de flex, le estoy pidiendo al contenedor, que ponga los items al final*/
    grid-area: footer;/*le asigno el nombre el area que debe ocupar*/
    border-bottom: rgb(167, 166, 166) 1px solid;
}
/*---------------------------------------------------------------------------------------*/
/*Estilos*/
.subtitulo{
    color: rgb(167, 166, 166);
    font-size: 24px;
    font-weight: bold;
    border-bottom: rgb(167, 166, 166) 1px solid; 
}
.subtitulo-edit{
    color: #08c;
    font-size: 21px;
    font-weight: bold;
}
.texto{
    margin: 4px;
    font-size: 15px;
    font-weight: bold;
}
.texto-edit{
    margin: 0px;
    font-size: 16px;
}
.input{
    border: rgb(207, 207, 207) 1px solid;
    font-size: 18px;
    margin: 3px;
    border-radius: 6px;
    font-family: inherit;
}
.buttom {
    background-image: -webkit-linear-gradient(top, #08c, rgb(109, 186, 224));
    border-radius: 6px;
    padding: 8px 13px;
    border: rgb(26, 99, 99) 1px solid;
    font-size: 15px;
    color: #fff;
}
.buttom-edit{
    padding: 1px 1px;
    margin: 0px;
}
/*aca no hay mucho que explicar, salvo el webkit que utilizo para darle degradado al boton y
el hover, para cuando le ponen el mouse encima invierta los colores del degrado*/
.buttom:hover{
    background-image: -webkit-linear-gradient(top, rgb(109, 186, 224), #08c);
}
.input-edit{
    margin: 0px;
}/*estas 2 clases las hice para materia-abm.html, estas 2 lo que hacen es
ajustar los margenes y el tamaño del boton, para que se vea mas lindo, en pocas palabras pura estetica */
.buttom-tabla{
    font-size: 15px;
    padding: 1px 2px;
    margin: 3px;
}
.texto-responsive{
    display: none;
}
.texto-responsive-ul{
    margin:5px;
}
/*---------------------------------------------------------------------------------------*/
/*tabla*/
.table {
    border: rgb(207, 207, 207) 1px solid;
    margin: 5px;
    border-radius: 7px;
}
ul.col5{
    padding-right: 0px;
    padding-left: 0px;
    float: left;
    padding-bottom: 0px;
    margin: 1px 1px;
    width: 100%;
    padding-top: 0px;
    list-style-type: none;
    
}

ul.col5 li{
    display: inline-flex;   
    justify-content: center;
    justify-items: center; 
    padding-right: 5px;
    padding-left: 8px;
    padding-bottom: 5px;
    width: 18%;
    padding-top: 7px;
    border: rgb(207, 207, 207) 1px solid;
    background-image: -webkit-linear-gradient(top, #08c, rgb(109, 186, 224));
    border-radius: 6px;
    font-size: 15px;
    color: #fff;
    margin: 0px;
    font-weight: bold;
} 
ul.col5-data{
    padding-right: 0px;
    padding-left: 0px;
    float: left;
    padding-bottom: 0px;
    margin: 1px 1px;
    width: 100%;
    padding-top: 0px;
    list-style-type: none;
    
}
ul.col5-data li{
    display: inline-flex;   
    justify-content: center;
    justify-items: center;
    padding-right: 5px;
    padding-left: 8px;
    padding-bottom: 5px;
    width: 18%;
    padding-top: 7px;
    border: rgb(207, 207, 207) 1px solid;
    background-image: -webkit-linear-gradient(top, #fff, rgb(218, 219, 221));
    border-radius: 6px;
    font-size: 15px;
    margin: 0px;
}
/*---------------------------------------------------------------------------------------*/
/*cuando la imagen llega a 768 pixeles de ancho se aplica la interfaz mobile*/
@media screen and (max-width: 768px){
  .contenedor-grid {
    grid-template-areas: "sidebar sidebar sidebar sidebar"
                             "contenido contenido contenido contenido"
                             "footer footer footer footer";
    }/*aca se cambia la forma en la que se debe mostrar las clases en la interfaz mobile
    (en vez de ir el sidebar al costado, se lo mueve para arriba)*/
    /*---------------------------------------------------------------------------------------*/
    ul.col5{
        display: none;
    }
    ul.col5-data{
        padding: 0px 0px 0px 0px;

    }
    .texto-responsive-ul{
        font-weight: bold;
        padding-right: 5px;
    }
    .texto-responsive{
        display: inline-flex;   
        justify-content: left;
        justify-items: left;
        float: left;
    text-transform: uppercase;
        border: rgb(26, 99, 99) 2px solid;
        background-image: -webkit-linear-gradient(top, #08c, rgb(109, 186, 224));
        border-radius: 3px;
        font-size: 14px;
        color: #fff;
        margin: 5px;
        font-weight: bold;
    }
    ul.col5-data li{
        display: inline-flex; 
        justify-content: left;
        justify-items: left;
        width: 93%;
    }

    /*---------------------------------------------------------------------------------------*/

}
