

h1{
    color:black;
    display: inline;
    font-size: 40px;
    padding: 30;
}
header{
    margin: 0px;
    background-color: #8d8d8d;
}

h2 {
    font: 1em sans-serif;
}

#materia{
    background-color: #8d8d8d;
    border: 1,9px solid #8d8d8d;
    
}

#jojo{
    display: inline-block;
    background-image: url("c85698d55ca2f375a4d5f62310e41137.jpg")
}

#puto {
    display: inline-block;
}

input{
    border: 2px dashed grey;
}

textarea{
    border: 2px dashed grey;
}

input:focus{
    border: 3px solid rgb(36, 219, 36); 
}

textarea:focus{
    border: 3px solid rgb(36, 219, 36); 
}